@import "../../../assets/styles/configs";
::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: rgba(0, 0, 0, 0.6);
}
.container
{
  width:100%;
  display:flex;
  flex-direction: column;
  
  .divListExam{
    padding: 20px;
    margin-top: 30px;
    border-radius: 20px;
    background: rgba(255, 255, 255, 0.2);
    ul{
      .titleList{
        display: flex;
        width:100%;
        color:rgba(255, 255, 255, 0.7);
        font-family: SF Pro Text;
        font-style: normal;
        font-weight: 600;
        font-size:50px;
        align-items: center;
        justify-content: center;
        text-align: center;
        p{
          width:100%
        }
      }
      li{
        height:auto;
        margin-top: 20px;
        color:rgba(255, 255, 255, 0.9);
        justify-content: space-around;

        p{
          margin: 0px 0px;
        }
        .questionHeader{
          width:200px;
          font-family: SF Pro Text;
          font-style: normal;
          font-weight: 600;
          font-size:20px;
        }
        .answerHeader{
          widows: 130px;
          font-family: SF Pro Text;
          font-style: normal;
          font-weight: 600;
          font-size:20px;
        }
        .deleteHeader{
          width:50px;
          font-family: SF Pro Text;
          font-style: normal;
          font-weight: 600;
          font-size:20px;
        }
        .question{
          width:200px;
          font-family: SF Pro Text;
          font-style: normal;
          font-weight: normal;
          font-size:16px;
          color:rgba(255,255,255,0.8)
        }
        .answer{
          width:130px;
          font-family: SF Pro Text;
          font-style: normal;
          font-weight: normal;
          font-size:16px;
          color:rgba(255,255,255,0.8)
        }
        .delete{
          width:50px;
          font-family: SF Pro Text;
          font-style: normal;
          font-weight: normal;
          font-size:16px;
          color:rgba(255,255,255,0.8)
        }



        a{
          display:flex;
          align-items: flex-start;
          :hover{
            cursor: pointer;
            background: none;
          }
          img{
            width:30px;
            height:30px;
          }
        }
      }
    }
  }
  
  .divQuestion{
    padding: 20px;
    margin-top: 50px;
    border-radius: 20px;
    background: rgba(255, 255, 255, 0.2);

    .divTitleVideo{
      justify-content: center;
      align-items: center;
      text-align: center;
      p{
        font-family: 'SF Pro Display';
          font-style: normal;
          font-weight: bold;
          font-size: 30px;
          color:rgba(255,255,255,0.9);
         
          margin-top: 10px;
      }
    }
    .divButton{
      display: flex;
      width:100%;
      flex-direction: row;
      justify-content: space-around;
      .buttonConfirm{
        display: flex;
        width: 200px;
        height: 60px;
        margin: 30px 0px 0px 0px;
        align-items: center;
        justify-content: center;
        background: linear-gradient(91.4deg, #2FB8FF 0%, #9EECD9 100%);
        box-shadow: 0px 20px 40px rgba(147, 231, 221, 0.3);
        border-radius: 30px;
        outline: none;
  
        :focus{
          outline: none;
        }
        p{
          display: flex;
          font-family: SF Pro Text;
          font-style: normal;
          font-weight: 600;
          font-size: 25px;
          line-height: 20px;
          color: #0E435C;
          margin: 0px 0px 0px 0px;
  
        }
      }
      .buttonCancel{
        display: flex;
        width: 200px;
        height: 60px;
        margin: 30px 0px 0px 0px;
        align-items: center;
        justify-content: center;
        background: linear-gradient(91.4deg, #e26666 100%, #d45555 100%);
        box-shadow: 0px 20px 40px rgba(147, 231, 221, 0.3);
        border-radius: 30px;
        outline: none;
  
        :focus{
          outline: none;
        }
        p{
          display: flex;
          font-family: SF Pro Text;
          font-style: normal;
          font-weight: 600;
          font-size: 25px;
          line-height: 20px;
          color: black;
          margin: 0px 0px 0px 0px;
  
        }
      }
    }
        .divInput{
          display:flex;
          flex-direction: row;
          margin-top: 20px;
          justify-content: center;

          span{
          font-family: 'SF Pro Display';
          font-style: normal;
          font-weight: bold;
          font-size: 20px;
          color:rgba(255,255,255,0.5);
          margin-right: 10px;


        }
        input{
          width:500px;
          outline: none;
          border-radius: 20px;
          padding:5px 10px;
        }
        
        
      }
        .divInputQuestion{
          display:flex;
          flex-direction: row;
          align-items: center;
          justify-content: center;
          margin-top: 20px;

        span{
          font-family: 'SF Pro Display';
          font-style: normal;
          font-weight: bold;
          font-size: 20px;
          color:rgba(255,255,255,0.9);
          margin-right: 58px;

        }
        input{
          width:500px;
          outline: none;
          border-radius: 20px;
          padding:5px 10px;
        }
      }
        .divInputRightAns{
          display:flex;
          flex-direction: row;
          align-items: center;
          justify-content: center;
          margin-top: 20px;

        span{
          font-family: 'SF Pro Display';
          font-style: normal;
          font-weight: bold;
          font-size: 20px;
          color:rgba(255,255,255,0.7);
          margin-right: 22px;

        }
        input{
          width:500px;
          outline: none;
          border-radius: 20px;
          padding:5px 10px;
        }
      }
    }
  .taiLieu{
    margin-top: 20px;
    font-family: 'SF Pro Display';
   font-style: normal;
   font-weight: bold;
   font-size: 25px;
   text-align: center;
   color:white;
   a{
     text-decoration: none;
   }
}
  .information
  {
    padding: 0px 100px 0px 20px;
    .title{
      font-family: SF Pro Display;
      font-style: normal;
      font-weight: bold;
      font-size: 45px;
      line-height: 72px;
      color: #FFFFFF;
      mix-blend-mode: normal;
      text-shadow: 0px 20px 40px rgba(0, 0, 0, 0.3);
      margin-top: 20px;
    }
    .time{
      font-family: SF Pro Text;
      font-style: normal;
      font-weight: 600;
      font-size: 15px;
      line-height: 130%;
/* or 19px */
      text-transform: uppercase;
      color: rgba(255, 255, 255, 0.7);
      mix-blend-mode: normal;
      margin-top: 20px;

    }
    .description{
      font-family: SF Pro Text;
      font-style: normal;
      font-weight: normal;
      font-size: 20px;
      line-height: 140%;
      color: #FFFFFF;
      mix-blend-mode: normal;
      margin-top: 20px;

        }
    .moreInfo{
      font-family: SF Pro Text;
      font-style: normal;
      font-weight: normal;
      font-size: 14px;
      line-height: 130%;
      /* or 17px */
      color: rgba(255, 255, 255, 0.7);
      mix-blend-mode: normal;
      margin-top: 20px;


    }
    .logo{
      width:60px;
      height:60px;
    }
    .courseCard{
      width:400px;
      height:500px;
    }
    .avatarAuthor{
      width:40px;
      height:40px;
    }
  }
  .topic{
    width:460px;
    display: flex;
    align-self: center;
    flex-direction: column;
    margin-top: 90px;
    .titleTopic{
      font-family: SF Pro Text;
      font-style: normal;
      font-weight: 600;
      font-size: 18px;
      line-height: 130%;
      /* or 19px */

      text-align: center;
      text-transform: uppercase;

      /* Text (dark) */

      color: #FFFFFF;
      mix-blend-mode: normal;
    }
    .contentTopic{
      font-family: SF Pro Text;
      font-style: normal;
      font-weight: normal;
      font-size: 16px;
      line-height: 130%;
      /* or 17px */
      text-align: center;
      /* Text 2 (dark) */
      color: rgba(255, 255, 255, 0.7);
      mix-blend-mode: normal;
      
    }
  }
  .videos{
    flex:1;
    display: flex;
    height: fit-content;
    border-radius: 20px;
    padding:20px 20px;

    background: rgba(255, 255, 255, 0.5);
    border: 0.5px solid rgba(255, 255, 255, 0.6);
    box-sizing: border-box;
    box-shadow: 0px 50px 100px rgba(34, 79, 169, 0.3);
    backdrop-filter: blur(40px);

      border-radius: 20px;

    ul{
      flex:1;
      display: flex;
      height: fit-content;
      li{
        width: 360px;
        height: 109px;
        color:white;
        margin-top: 20px;
        :hover{
          background: rgba(59, 167, 104, 0.5);
          background-blend-mode: overlay;
          mix-blend-mode: normal;
          box-shadow: inset 0px 0px 0px 0.5px rgba(68, 66, 178, 0.2);
          border-radius: 10px;
          text-decoration: none;
        }

        .item{
          display: flex;
          flex-direction: row;
          width:360px;
          padding: 20px 10px;
          cursor:pointer;
          :hover{
          background-color: transparent;
          border: none;
          box-shadow:none;
        }

          .divContent{
            display:flex;
            flex-direction: column;
            height: 73px;
            margin-left:10px;
            .titleAddVideo{
              display: flex;
              flex-direction: row;
              justify-content: space-between;
              margin-bottom: 10px;
              text-align: center;
              p{
               font-family: SF Pro Text;
              font-style: normal;
              font-weight: 500;
              font-size: 26px;
              line-height: 18px;
              color: #3913B8;
              margin-right: 10px;
              }
            }
            .desVideo{
              width:200px;
              font-family: SF Pro Text;
              font-style: normal;
              font-weight: 500;
              font-size: 17px;
              line-height: 18px;
              color: $black;
              margin-right: 10px;
            }
            p{
              margin:0px;
            }
            .rowTitle{
              display: flex;
              flex:1;
              flex-direction: row;
              margin-bottom: 10px;
              p{
                font-family: SF Pro Text;
              font-style: normal;
              font-weight: 500;
              font-size: 20px;
              line-height: 18px;
              color: #3913B8;
              margin-right: 10px;
              width:230px;
              }
              .time{
                background: rgba(68, 66, 178, 0.1);
                background-blend-mode: overlay;
                border-radius: 10px;
                padding:6px 10px 6px 10px;
                font-family: SF Pro Text;
                font-style: normal;
                font-weight: bold;
                font-size: 14px;
                color: rgba(255, 255, 255, 0.7);
              }
            }
            .contentDes{
              font-family: SF Pro Text;
              font-style: normal;
              font-weight: normal;
              font-size: 15px;
              line-height: 16px;
              color: rgba(0, 0, 0, 0.7);  
              padding:0px 0px 0px 0px; 
                  }
         
    }
          .divCircle{
            align-self: flex-start;
            display: flex;
            align-items: center;
            justify-content: center;
            width:90px;
            height:42px;
            border-radius: 21px;
            background: rgba(68, 66, 178, 0.1);
            background-blend-mode: overlay;
              p{
                margin:0px;
                font-family: SF Pro Text;
                font-style: normal;
                font-weight: normal;
                font-size: 20px;
                line-height: 24px;
                color: #000000;
              }
          }
          .coverAddIcon{
            display: flex;
            align-items: center;
            justify-content: center;
            width:80px;
            height:80px;
            border-radius: 21px;
            background: rgba(68, 66, 178, 0.1);
            background-blend-mode: overlay;
              img{
               width:45px;
               height:45px;
              }
             
          }
        }
      }
    }
  }
}
