@import "../../assets/styles/configs";
::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: rgba(255, 255, 255, 0.5);
}
.container{
  position: absolute;
  display: flex;
  width: 600px;
  margin-top: 12%;
  margin-right:100px ;

  .coverT
  {
    position: absolute;
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 850px;
    background: rgba(50, 61, 109, 0.5);
    border: 0.5px solid rgba(255, 255, 255, 0.3);
    box-sizing: border-box;
    box-shadow: 0px 50px 100px rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(40px);
    border-radius: 20px;
    padding: 20px 20px;

    .buttonClose{
      position: absolute;
      display: flex;
      cursor: pointer;
      width:36px;
      height:36px;
      right:-15px;
      top:-15px;
      border-radius: 18px;
      background-color: #b2b2b2;
      border : solid 2px #FFFFFF ;
      align-items: center;
      outline: none;
      justify-content: center;

      :focus{
        outline: none;
      }
      img{
        width:18px;
        height:18px;
      
      }
    }
    
    p{
      font-family: 'SF Pro Text';
      font-style: normal;
      font-weight: normal;
      font-size: 17px;
      line-height: 130%;
      color: rgba(255, 255, 255, 0.7)
    }
    .title{
      font-family: 'SF Pro Display';
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    line-height: 48px;
    color: #FFFFFF;
    }
    .description{
     margin: 15px 0px 0px 0px;
    }
    .title{
      font-family: 'SF Pro Display';
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    line-height: 48px;
    color: #FFFFFF;
    }
    .divInput{
      margin: 30px 0px 0px 0px;
      width:350px;
      height:60px;
      padding: 10px;

      display: flex;
      flex-direction: row;
      align-items: center;
      background: linear-gradient(180deg, rgba(99, 106, 150, 0.4) 0%, rgba(182, 186, 214, 0.25) 100%);
      border: 0.5px solid rgba(255, 255, 255, 0.3);
      box-sizing: border-box;
      box-shadow: 0px 20px 40px rgba(0, 0, 0, 0.15);
      backdrop-filter: blur(40px);
    /* Note: backdrop-filter has minimal browser support */
      border-radius: 30px;

      .coverImage{
        display: flex;
        width:49px;
        height:42px;
        border-radius: 42px;
        align-items: center;
        justify-items: center;
        background-color: rgba(255, 255, 255, 0.2);
        img{
          display: flex;
          width:30px;
          height:30px;
          margin-left: 5px;
        }
      }

      .formInput{
        width:100%;
        padding: 15px;
        margin: 0px 0px 0px 15px;
        :focus{
          outline-style:none ;
        }
        .input{
          width:100%;
          height: 44px;
          border: none;
          background-color: transparent;
          color: $white;
          font-size: 18px;
          margin-right:5px;
          margin-left:5px;

        }
      }
    }
    .buttonSignUp{
      display: flex;
      width: 350px;
      height: 60px;
      margin: 30px 0px 0px 0px;
      align-items: center;
      justify-content: center;
      background: linear-gradient(91.4deg, #2FB8FF 0%, #9EECD9 100%);
      box-shadow: 0px 20px 40px rgba(147, 231, 221, 0.3);
      border-radius: 30px;
      outline: none;

      :focus{
        outline: none;
      }
      p{
        display: flex;
        font-family: SF Pro Text;
        font-style: normal;
        font-weight: 600;
        font-size: 25px;
        line-height: 20px;
        color: #0E435C;
        margin: 0px 0px 0px 0px;

      }
    }
    .accountType{
      margin-top: 30px;
      span{
        color: rgba(255, 255, 255, 0.8);
        font-family: 'SF Pro Text';
        font-style: normal;
        font-weight: bold;
        font-size: 19px;
        line-height: 130%;
      }
      select{
        padding:5px;
        margin-left: 5px;
        outline:none;
        color: rgba(0, 0, 0);
        font-family: 'SF Pro Text';
        font-style: normal;
        font-weight: bold;
        font-size: 19px;
        line-height: 130%;
        border-radius: 5px;
         background-color: rgba(255, 255, 255, 1);
        }
        option {
          padding:5px;
          outline:none;
          color: rgba(0, 0, 0);
          font-family: 'SF Pro Text';
          font-style: normal;
          font-weight: bold;
          font-size: 19px;
          line-height: 130%;
      }
    }
    .textLicense{
      width:350px;
      margin-top: 30px;
    }
    .textSignIn{
      width:350px;
      span{
        button{
          background-color: transparent;
          border:none;
          outline: none;
          font-family: 'SF Pro Text';
          font-style: normal;
          font-weight: bold;
          font-size: 17px;
          line-height: 130%;
          color:$secondary;
         
        }
      }
    }
  }
}
