@import "../../assets/styles/_configs";


.Container {
  background-image: url("../../assets/images/mainbackground.png");
  width:100%;
  
}
.Main
{
  display: flex;
  padding-left: 10%;
  padding-right: 10%;
  
}
