@import "../../assets/styles/_configs";

.AppLogo {
  height: 30px;
  pointer-events: 'cursor';
}

.WrappedLogo {
 background-color: transparent;
}

@media (prefers-reduced-motion: no-preference) {
  
}


.AppHeader {
  width:100%;
  background-color:transparent;
  min-height: 10vmin;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 18px;
  width:100%;
  position: relative;

}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


  ul{
    list-style: none;
    display: flex;
    flex:1;
    align-items: center;
    height: 100%;
    padding: 0;
    margin: 0;

      li {
        display: flex;
        flex:1;
        justify-content: space-between;
        text-decoration: none;
        height: 100%;

          a{
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 10px 5px; 
            :hover{
              background-color: rgba(255, 255, 255, 0.2);
            }
              .MenuItem{
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: center;
                padding: 10px 20px 10px 20px;
                border-radius: 10px;
                :hover{
                  background-color:transparent;
                  text-decoration: none;
                }
                 
                p{
                  margin-left: 10px;
                  color: $white;
                  font-family: "SF Pro Text";
                  font-style: normal;
                  font-weight: normal;
                  font-size: 23px;
                  margin-bottom: 0;
                  text-decoration: none;
                 
                }
              }
           }
         }
      }



@media screen and (min-width: 1200px) and (max-width: 1484px)
{
  .AppHeader{
    width: 70%;
    height:70%;
    }
}
@media screen and(min-width: 992px) and (max-width: 1199px){
  .AppHeader{
    width: 50%;
    height:70%;
    }
}
