
.AppLogo {
  height: 3vmin;
  pointer-events: 'cursor';
}

.WrappedLogo {
 
  margin-left: 50% ;
 
}

@media (prefers-reduced-motion: no-preference) {
  
}

.AppHeader {
  width:100%;
  background-color:transparent;
  min-height: 10vmin;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  font-size: calc(4px + 2vmin);
  color:#000000;
}
.AppHeader a{
  color:#000000;
  display: flex;
  flex-direction: row;
}



@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.AppHeaderMenu
{
  flex:1;
  color:#000000;
}
.AppHeaderMenuItem {
  list-style: none;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.AppHeaderMenuItem li{
  background-color:transparent;
  color:#000000;
  
  text-decoration: none;
  height: 100%;
  padding: 0px 25px;
}


.AppHeaderMenuItem :hover,
.AppHeaderMenuItem :active,
.AppHeaderMenuItem a.active {
  color:#000000;

}
