@import "../../../assets/styles/configs";
.container{
  position: relative;
  height: 330px;
  width: 240px;
  border-radius:20px ;
  background: linear-gradient(to bottom, rgba(8, 32, 62,1) 0%,rgba(116, 165, 193,1) 80%);
  padding:20px;
  text-align: center;
  text-decoration: none !important;
 
  .background{
    
  }
  .logo{
    position: absolute;
    top:20px;
    right:20px;
    width:32px;
    height:32px;
  }
  .author{
    position: absolute;
    top:72px;
    right:20px;
    width:32px;
    height:32px;
  }
  .title{
    color: $white;
    font-family: SF Pro Display;
    font-style: normal;
    font-weight: bold;
    font-size: 25px;
    line-height: 29px;
    text-align: center;

  }
  .description{
    font-family: SF Pro Text;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  text-align: center;

  color: rgba(255, 255, 255, 0.8);
  }
}
