

//Corlos

$black: #000000;
$white: #FFFFFF;
$gray: #595C7B;
$black-second:rgba(0,0,0,0.7);
$white-second:rgba(255,255,255,0.7);
$primary: #3913B8;
$primary-dark: #8352FD;
$secondary: #2FB5FC;
$secondary-dark: #00CFFD;
$background: #F2F6FF;
$background-dark: #1F1F47;
$background-second: #E3E8FF;
$background-second-dark: #1A2151;


//Fonts
$Bold: 'SFProDisplay-Bold';
$Medium: 'SFProDisplay-Medium';
$Regular: 'SFProText-Regular';
$Semibold: 'SFProText-Semibold';


