@import "../../assets/styles/_configs";
::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: rgba(0, 0, 0, 1);
}
.container
{
  width:100%;
  display:flex;
  flex-direction: row;

  .menuChuDe{
    display:flex;
    flex-direction: column;
    width:150px;
    height:fit-content;
    margin-right: 50px;

    ul{
      width:160px;
      li{
        width:160px;
        text-align: left;
        border: 1px solid rgba(0,0,0,.125);
        padding: 10px 20px;
        
        .categoryTitle{
          color:darkred;
          font-family: 'SF Pro Display';
          font-style: normal;
          font-weight: bold;
          font-size: 23px;
          width:120px;
          margin:0px 0px 0px -5px;
        }
        a{
          width:160px;
          width:auto;
          height:100%;
          text-decoration: none;
          color:$black;
          font-family: 'SF Pro Display';
          font-style: normal;
          font-weight: bold;
          font-size: 18px;
          div{
            width:160px;
            padding: 10px 0px ;
          }
        }
          p{
            width:140px;
            margin :0px 0px 0px 20px ;

          }
        }
      }
    }
  .courses{
      
    .divFilter{
      margin-left: 100px;
      display: flex;
      flex-direction: row;
      align-items: center;
      .inputSearch{
        display: flex;
        flex-direction: row;
        margin-left: 100px;
          input{
            margin-left: 10px;
            width: 300px;
            font-size: 16px;
            padding: 5px 0px 5px 10px;
            border: 1px solid #ddd;
            border-radius: 5px;
            outline: none;
            :hover{
              outline: none;
            }
          }
         }
      p{
          color:$white;
          font-family: 'SF Pro Display';
          font-style: normal;
          font-weight: normal;
          font-size: 22px;
          margin:0px 0px;
      }
      select{
        margin:0px 10px;
        padding:5px 15px;
        outline:none;
        color: rgba(0, 0, 0);
        font-family: 'SF Pro Text';
        font-style: normal;
        font-weight: bold;
        font-size: 18px;
        border-radius: 5px;
         background-color: rgba(255, 255, 255, 1);
        option {
          margin-left: 5px;
          outline:none;
          color: rgba(0, 0, 0);
          font-family: 'SF Pro Text';
          font-style: normal;
          font-weight: bold;
          font-size: 18px;
          margin:0px 5px;
       }
      }
    }
  }
}
